.App {
  text-align: center;
}

.container {
  display: flex;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.dash{
  max-width: 100%;
    display: flex;
    padding: 10px 10px;
    background: #f6f7f8;
    font-size: medium;
}

.header-box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}